/* here you can put your own css to customize and override the theme */
/*Chose File img*/
.choose-img{
    position: relative;
    width: 500px;
    height: 200px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 10px;
    text-align: center;
    background-color: #e4f3ff;
}
.choose-img input[type="file"]{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
.choose-img p{
    margin: 0;
    position: relative;
    
    top: 40%;
    z-index: 1;
}
.choose-img > img{
    width: 100%;
    height: 100%;   
}
.upload-action{
    width: 500px;
    margin: auto;
}
.upload-action .upload-btn{
    border: 0;
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #fff;
}
.upload-action .progress{
    margin-bottom: 0;
    display: inline-block;
    width: calc(100% - 120px);
    float: right;
    margin-top: 5px;
    box-shadow: none;
}
.upload-action .progress .progress-bar{
    background-color: #108fc6;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#status{
    display: inline-block;
    font-size: 18px;
    color: #000000;
    margin-right: 100px;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#status2{
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    margin-right: 100px;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#status3{
    display: inline-block;
    font-size: 18px;
    color: #ffffff;
    margin-right: 100px;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#loaded_n_total{
    margin-bottom: 0;
    margin-right: 100px;
    color: #ffffff;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#loaded_n_total2{
    margin-bottom: 0;
    margin-right: 100px;
    color: #ffffff;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
#loaded_n_total3{
    margin-bottom: 0;
    margin-right: 100px;
    color: #ffffff;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
/*.daterangepicker.dropdown-menu*/
.daterangepicker.dropdown-menu{
    width: auto;
    font-family:'Droid Arabic Kufi', Droid Arabic Kufi,'Roboto', sans-serif;
}
