.wizard-steps {
  display: block;
  list-style: none outside none;
  padding: 0;
  position: relative;
  width: 100%;
}
.wizard-steps li {
  display: block;
  float: right;
  max-width: 25%;
  min-width: 25%;
  text-align: center;
  padding-right: 0;
}
.wizard-steps li:before {
  border-top: 6px solid #55606E;
  content: "";
  display: block;
  font-size: 0;
  overflow: hidden;
  position: relative;
  top: 13px;
  left: 1px;
  width: 100%;
  z-index: 1;
}
.wizard-steps li:first-child:before {
  right: 50%;
  max-width: 50%;
}
.wizard-steps li:last-child:before {
  max-width: 50%;
  width: 50%;
}
.wizard-steps li.complete .step {
  background-color: #108fc6;
  padding: 1px 6px;
  border: 4px solid #55606e;
}
.wizard-steps li .step {
  background-color: #d1dade;
  border-radius: 32px 32px 32px 32px;
  color: #ffffff;
  display: inline;
  font-size: 15px;
  font-weight: bold;
  line-height: 12px;
  padding: 0 10px;
  position: relative;
  text-align: center;
  z-index: 2;
  transition: all 0.2s linear 0s;
}
.wizard-steps li .step i {
  font-size: 10px;
  font-weight: normal;
  position: relative;
  top: -1.5px;
}
.wizard-steps li .title {
  color: #B1BCC5;
  display: block;
  font-size: 13px;
  line-height: 15px;
  max-width: 100%;
  position: relative;
  table-layout: fixed;
  text-align: center;
  top: 20px;
  word-wrap: break-word;
  z-index: 104;
}
.wizard-steps a:hover,
.wizard-steps a:active,
.wizard-steps a:focus {
  text-decoration: none;
}
.wizard-steps li.active .step,
.wizard-steps li.active.complete .step {
  background-color: #0090d9;
  color: #ffffff;
  font-weight: bold;
  padding: 4px 15px;
  border: none;
  font-size: 16px;
}
.wizard-steps li.complete .title,
.wizard-steps li.active .title {
  color: #2B3D53;
}
.step-content {
  margin-right: 60px;
  margin-top: 40px;
}
.step-content .step-pane {
  display: none;
  min-height: 267px;
}
.step-content .active {
  display: block;
}
.wizard-actions {
  display: block;
  list-style: none outside none;
  padding: 0;
  position: relative;
  width: 100%;
}
.wizard-actions li {
  display: inline;
}
.tab-content {
  overflow: auto;
  position: relative;
  z-index: 10;
  background-color: #ffffff;
  overflow: hidden;
  margin-bottom: 18px;
}
.tab-content.transparent {
  background-color: transparent;
}
.form-group {
  margin-bottom: 20px;
}
.form-group .form-label {
  color: #55606e;
  display: inline-block;
  margin-left: 8px;
}
.form-group .help {
  color: #A7ABB1;
  font-size: 12px;
}
.form-group .controls {
  margin-top: 8px;
}
.form-control {
  border: 1px solid #ccc;
  font-size: 13px;
}
.form-row input,
.form-row select,
.form-row textarea,
.form-row select2 {
  margin-bottom: 10px;
}
.form-row .radio {
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 13px;
}
.form-row:last-child {
  margin-bottom: 0;
}
.slide-primary,
.slide-success {
  display: inline-block;
}
.slide-primary .ios-switch .on-background {
  background-image: none;
  background-color: #108fc6;
}
.slide-success .ios-switch .on-background {
  background-image: none;
  background-color: #0090d9;
}
.select2-container .select2-choice {
  background-image: none;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 3px 9px;
  transition: border 0.2s linear 0s;
  height: 35px;
}
.select2-container .select2-choice .select2-arrow {
  background: transparent;
  border-right: 0px;
}
.select2-container .select2-choice .select2-arrow b {
  background: none;
}
.select2-container .select2-choice .select2-arrow b:before {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: relative;
  top: 2px;
  left: 5px;
  font-size: 12px;
}
.select2-container.select2-drop-above .select2-choice {
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  background-image: none;
  border: 1px solid #e5e9ec;
  background: #f4f5f7;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}
.select2-drop.select2-drop-above {
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: none;
}
.select2-drop.select2-drop-above.select2-drop-active {
  border: 1px solid #e5e9ec;
  border-bottom: none;
  border-radius: 2px;
  padding-top: 0px;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  box-shadow: none;
  border: 1px solid #e5e9ec;
  background: #f4f5f7;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
  -moz-border-radius-topleft: 2px;
  -moz-border-radius-topright: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.select2-search {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 3px;
}
.select2-search input {
  background: #ffffff !important;
  vertical-align: baseline;
  line-height: 28px;
  border-radius: 2px;
  border: none;
  font-size: 12px;
  border: 1px solid #999999;
}
.select2-results {
  margin: 3px 3px 10px 10px;
}
.select2-results li {
  color: #6F7B8A;
}
.select2-results li.select2-result-with-children > .select2-result-label {
  color: #282323;
}
.select2-results .select2-highlighted {
  background: #108fc6;
  border-radius: 3px;
}
.select2-results .select2-highlighted .select2-result-label {
  color: #ffffff;
}
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: none;
  color: #6F7B8A;
  font-size: 12px;
  padding-right: 8px;
  padding-top: 0px;
  position: relative;
  top: -5px;
}
.select2-drop-active {
  border: 1px solid #e5e9ec;
  border-bottom: none;
  border-top: none;
  -webkit-border-bottom-right-radius: 2px;
  -webkit-border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -moz-border-radius-bottomleft: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  padding-top: 5px;
}
.select2-container-multi .select2-choices {
  background-image: none;
  border: 1px solid #dae0e4;
  border-radius: 2px;
}
.select2-container-multi .select2-choices .select2-search-choice {
  background-color: #e8edf1;
  background-image: none;
  border: none;
  box-shadow: none;
  color: inherit;
  border-radius: 8px;
  margin: 8px 10px 7px -5px;
  padding: 4px 21px 4px 8px;
  direction: rtl;
}
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #dae0e4;
  box-shadow: none;
}
.select2-container-multi.select2-container-active .select2-search-choice {
  background-color: #ffffff !important;
}
.select2-container-multi .select2-search-choice-close {
  right: 6px;
}
.select2-search-choice-close {
  background: none;
  top: 4px;
  left: 0;
}
.select2-search-choice-close:hover {
  text-decoration: none;
}
.select2-search-choice-close:before {
  font-family: 'FontAwesome';
  content: "\f00d";
  font-size: 12px;
  color: #94a1b2;
}
.select2-drop-multi .select2-results .select2-no-results,
.select2-drop-multi .select2-results .select2-searching,
.select2-drop-multi .select2-results .select2-selection-limit {
  top: 0px;
}
.select2.form-control {
  padding: 0;
  box-shadow: none;
  border: 0;
  margin-bottom: 10px;
}


.input-prepend,
.input-append {
  position:relative;
}
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  border-radius: 0 2px 2px 0;
}
.input-prepend.inside .add-on:first-child,
.input-prepend .btn:first-child {
  background-color: #ffffff;
  border: 1px solid #e5e9ec;
  position: relative;
  right: 3px;
  border-radius: 2px;
  padding-right: 8px;
  padding-left: 4px;
  padding-top: 4px;
  top: 0px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
  color: #9ea9b2;
}
.input-prepend.inside.no-boarder .add-on:first-child,
.input-prepend.no-boarder .btn:first-child {
  border: none;
}
.input-append .add-on,
.input-prepend .add-on {
  position: absolute;
  left:0;
  top: 0;
  background-color: #d1dade;
  color: #5E5E5E;
  text-shadow: none;
  border: #d1dade;
  border-radius: 0 2px 2px 0;
  height: 34px;
  min-width: 34px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 8px;
}
.input-append .add-on .arrow {
  background-color: transparent !important;
  position: absolute;
  right: -6px;
  top: 0;
  color: #d1dade;
  z-index: 100;
  font-size: 26px;
}
.input-append .add-on .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0da ";
}
.input-append.primary .add-on .arrow {
  color: #108fc6;
}
.input-append.success .add-on .arrow {
  color: #0090d9;
}
.input-append.info .add-on .arrow {
  color: #1f3853;
}
.input-append.warning .add-on .arrow {
  color: #fbb05e;
}
.input-append.danger .add-on .arrow {
  color: #f35958;
}
.input-append input[class*="span"] {
  padding-right: 16px;
  border-left: 0px;
  -webkit-border-radius: 2px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 2px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.input-append .form-control {
  display: inline-block;
}
.input-append.primary .add-on,
.input-prepend .add-on {
  background-color: #108fc6;
  color: #ffffff;
}
.input-append.success .add-on,
.input-prepend .add-on {
  background-color: #0090d9;
  color: #ffffff;
  display: inline-block;
  float: right;
}
.input-append.info .add-on,
.input-prepend .add-on {
  background-color: #1f3853;
  color: #ffffff;
}
.input-append.warning .add-on,
.input-prepend .add-on {
  background-color: #fbb05e;
  color: #ffffff;
}
.input-append.danger .add-on,
.input-prepend .add-on {
  background-color: #f35958;
  color: #ffffff;
}
.input-focus {
  background-color: #f4f5f7 !important;
  color: #56646e !important;
}
.no-boarder .input-focus {
  border: none !important;
}
.input-prepend input[class*="span"] {
  padding-right: 16px;
  border-right: 0px;
  -webkit-border-radius: 2px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius: 2px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.validation {
  position: relative;
}
.validation input {
  padding-right: 32px !important;
}
.validation i {
  color: #e5e9ec;
  display: block;
  position: absolute;
  margin: 10px 4px 4px 7px;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
}
.validation.right input {
  padding-right: 12px !important;
  padding-left: 33px !important;
}
.validation.right i {
  left: 8px;
  float: left;
}
.input-group-addon {
  border: 1px solid #E5E9EC;
  color: #9EA9B2;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 3px;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s, color 0.2s linear 0s, box-shadow 0.2s linear 0s, background 0.2s linear 0s;
}
.input-group-addon i {
  position: relative;
  top: 1px;
}
.input-group-addon.primary {
  background-color: #108fc6;
  border: 1px solid #108fc6;
  color: #ffffff;
}
.input-group-addon.primary .arrow {
  color: #108fc6;
}
.input-group-addon.success {
  background-color: #0090d9;
  color: #ffffff;
}
.input-group-addon.success .arrow {
  color: #0090d9;
}
.input-group-addon.info {
  background-color: #1f3853;
  color: #ffffff;
}
.input-group-addon.info .arrow {
  color: #1f3853;
}
.input-group-addon.warning {
  background-color: #fbb05e;
  color: #ffffff;
}
.input-group-addon.warning .arrow {
  color: #fbb05e;
}
.input-group-addon.danger {
  background-color: #f35958;
  color: #ffffff;
}
.input-group-addon.danger .arrow {
  color: #f35958;
}
.input-group-addon .arrow {
  position: relative;
  right: -6px;
  color: #d1dade;
  z-index: 100;
}
.input-group-addon .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0da";
  font-size: 23px;
  position: absolute;
  left: 17px;
  top: -2px;
}
.input-group-addon:last-child .arrow:before {
  font-family: 'FontAwesome';
  content: "\f0d9";
  font-size: 23px;
  position: absolute;
  left: -23px;
  top: -2px;
}
.input-group-addon:last-child input {
  border-right: 0px;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-right: 0;
}
.transparent .input-group-addon {
  background-color: #ffffff;
  padding: 8px 9px 10px 1px;
}
.transparent.input-group .form-control:first-child,
.transparent .input-group-addon:first-child,
.transparent .input-group-btn:first-child > .btn,
.transparent .input-group-btn:first-child > .dropdown-toggle,
.transparent .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-left: 0px;
  border-right: 1px solid #e5e9ec;
}
.transparent .input-group .form-control:last-child,
.transparent .input-group-addon:last-child,
.transparent .input-group-btn:last-child > .btn,
.transparent .input-group-btn:last-child > .dropdown-toggle,
.transparent .input-group-btn:first-child > .btn:not(:first-child) {
  padding: 6px 10px;
}
span.form-label {
    margin-left: 30px;
}


.form-wizard-steps {
    margin-bottom: 20px;
}

.datepicker {
  padding: 10px 16px !important;
  border-radius: 2px;
  font-size: 12px;
  width:215px;
  direction:ltr;
}
.datepicker thead tr .datepicker-switch {
  color: #6f7b8a;
  font-size: 13px;
  text-align:center;
}
.datepicker thead tr .prev {
  color: #0090d9;
  content: '';
  font-size: 0px;
}
.datepicker thead tr .prev:before {
  color: #0090d9;
  font-family: 'FontAwesome';
  content: "\f053";
  font-size: 13px;
}
.datepicker thead tr .next {
  color: #0090d9;
  content: '';
  font-size: 0px;
}
.datepicker thead tr .next:before {
  color: #0090d9;
  font-family: 'FontAwesome';
  content: "\f054";
  font-size: 13px;
}
.datepicker thead tr .dow {
  color: #0090d9;
  text-transform: uppercase;
  font-size: 11px;
}
.datepicker tbody tr .odd {
  color: #d0d3d8;
}
.datepicker table tr td.day:hover {
  background: #0090d9;
  color:#fff;
}
.datepicker table tr td span {
  border-radius: 4px 4px 4px 4px;
}
.datepicker th,
.datepicker td {
  padding: 5.5px !important;
  text-align:center;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #d0d3d8;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-image: none;
  text-shadow: none;
  font-weight: 600;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #ccc;
  background-image: none;
  color: #ffffff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active.active:hover,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled.disabled:hover,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active[disabled]:hover,
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled[disabled]:hover {
  background-color: #0090d9;
  color:#fff;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-image: none;
  border: none;
  text-shadow: none;
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active.active:hover,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled.disabled:hover,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active[disabled]:hover,
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled[disabled]:hover {
  background-color: #0090d9;
}
.datepicker-inline {
  width: auto;
}
.error {
  font-size: 12px;
  color: #f35958;
  display: block;
}
.error-control input {
  border: 1px solid #f35958;
}
.error-control select {
  border: 1px solid #f35958;
}
.error-control textarea {
  border: 1px solid #f35958;
}
.error-control .select2-container .select2-choice {
  border: 1px solid #f35958;
}
.error-control.validation .select2-container .select2-choice .select2-arrow b:before {
  content: "\f12a";
  color: #f35958;
}
.error-control.validation .select2-container .select2-choice .select2-arrow b {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.error-control i {
  color: #f35958;
}
.success-control input {
  border: 1px solid #108fc6;
}
.success-control select {
  border: 1px solid #108fc6;
}
.success-control textarea {
  border: 1px solid #108fc6;
}
.success-control .select2-container .select2-choice {
  border: 1px solid #108fc6;
}
.success-control.validation .select2-container .select2-choice .select2-arrow b:before {
  content: "\f00c";
  color: #108fc6;
}
.success-control.validation .select2-container .select2-choice .select2-arrow b {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.success-control i {
  color: #108fc6;
}

.registration .radio input[type="radio"], 
.registration .radio-inline input[type="radio"], 
.registration .checkbox input[type="checkbox"], 
.registration .checkbox-inline input[type="checkbox"] {
    margin-right: 0;
    position: absolute;
}

.registration .radio label, 
.registration .checkbox label {
    padding-left: 20px;
    padding-right: 20px;
}

.add-on i.fa-th{
  margin: 3px 10px 3px 2px; 
}